$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}
::selection{
    background-color: $Cyan;
    color:white;
}
.part{
    padding: 0 10%;
}
a{
    display: inline-block;
    color: $Grayish-Violet;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    &:hover{
        color: $Very-Dark-Blue
    }
}

p{
    color:$Grayish-Violet;
}
.header{
    padding: 2rem 10%;
    display:flex;
    align-items: center;
    background-color: white;
    .menu-icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .nav{
        display: flex;
        flex-grow: 1;
        padding: 0 1.5rem;
        li{
            list-style: none;
            margin-left: 1.5rem;
        }
    }
    .person-account{
        .sign-up{
            color:white;
            margin-left: 2rem;
            padding: 8px 20px;
            background-color: $Cyan;
            border-radius: 25px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

.get-started-btn{
    font-size:18px;
    padding: 0.6rem 2rem;
    color:white;
    background-color: $Cyan;
    border-radius: 2rem;
    margin-top: 2rem;
    &:hover{
        opacity: 0.7;
        color:white;
    }
}
.section-1{
    background-image: url(images/illustration-working.svg);
    background-repeat: no-repeat;
    background-position: 115% 10%;
    background-size: 50vw;
    padding-bottom: 6rem;
    .introduction-1{
        max-width: 500px;
        padding: 6rem 0;
        h1{
            line-height: 1.1;
            font-size: 4rem;
            color: $Very-Dark-Blue
        }
        p{
            font-size:18px;
            width: 90%;
        }
    }
}
.section-2{
    position:relative;
    background-color: #F0F1F6;
    padding: 0.1px 10% 6rem;
    .shorten-link{
        background-image: url(images/bg-shorten-desktop.svg);
        background-color: $Dark-Violet;
        background-size: cover;
        position: absolute;
        left: 10%;
        right:10%;
        transform:translateY(-50%);
        padding: 3rem 3.5rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
        .link-input{
            flex-grow: 1;
            height: 3.5rem;
            font-size: 18px;
            padding-left: 2rem;
            border-radius: 10px;
            outline: none;
            border:none;
        }
        .link-shorten-btn{
            height: 3.5rem;
            margin-left: 1rem;
            width: 10rem;
            border:none;
            font-size: 18px;
            border-radius: 10px;
            background-color: $Cyan;
            color:white;
            font-weight: 700;
            &:hover{
                opacity: 0.7;
            }
        }
        .message{
            display:none;
            position:absolute;
            bottom:1.2rem;
            font-size: 13px;
            color:$Red;
            font-style: italic;
            font-weight: 500;
        }
    }
    .invalid{
        .link-input{
            border: 2px solid $Red;
            &::placeholder{
                color:$Red;
                opacity: 0.7;
            }
        }
        .message{
            display: inline-block;
        }
    }
    .finished-links{
        margin-top: 6rem;
        .finished-item{
            background-color: white;
            display: flex;
            padding: 1rem 1.5rem 1rem 2rem;
            border-radius: 5px;
            align-items: center;
            margin-top: 1rem;
            
            p{
                flex-grow: 1;
                white-space: nowrap;
                font-size: 18px;
                color:$Very-Dark-Violet;
                overflow: hidden;
            }
            span{
                color:$Cyan;
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }
            button{
                height: 2.5rem;
                width: 7rem;
                border: none;
                background-color: $Cyan;
                color:white;
                font-size: 16px;
                font-weight: 700;
                border-radius: 5px;
                &:hover{
                    opacity: 0.7;
                }
                flex-shrink: 0;
            }
            .copied{
                background-color: $Dark-Violet;
                display: none;
            }

        }
        .copy-active{
            .copy{
                display: none;
            }
            .copied{
                display: inline-block;
            }
        }
        
    }
    .load{
        text-align: center;
        margin-top: 1rem;
        font-size: 18px;
        color:$Grayish-Violet;
        display: none;
    }
    .loading{
        display: block;
    }
    .introduction-2{
        margin-top: 6rem;
        width: 100%;
        text-align: center;
        display: inline-block;
        h2{
            font-size: 2rem;
            color:$Very-Dark-Blue;
        }
        p{
            max-width: 480px;
            margin: 10px auto 0;
        }
    }
    .advertising{
        display: flex;
        margin-top: 6rem;
        justify-content: center;
        align-items: flex-start;
        .advertising-item{
            padding: 4rem 1.5rem 2.5rem;
            background-color: white;
            border-radius: 5px;
            max-width: 300px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                height: 5rem;
                width: 5rem;
                top: 0;
                transform:translateY(-50%);
                border-radius: 50%;
                background-color: $Dark-Violet;
            }
            h3{
                font-size: 20px;
                color:$Very-Dark-Blue
            }
            p{
                font-size: 13px;
                margin-top: 12px;
            }
        }
        .brand{
            &::before{
                background-image: url(images/icon-brand-recognition.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
            &::after{
                content: "";
                position: absolute;
                top: 60%;
                right: -400px;
                height: 8px;
                width: 400px;
                background-color: $Cyan;
                z-index: 0;
            }
        }
        .record{
            margin: 2.5rem 1.5rem 0;
            &::before{
                background-image: url(images/icon-detailed-records.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }
        .custom{
            margin-top: 5rem;
            &::before{
                background-image: url(images/icon-fully-customizable.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.section-3{
    background-color: $Dark-Violet;
    background-image: url(images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 2rem;
        color:white;
    }
    a{
        margin-top: 1.5rem;
    }
}
footer{
    padding: 3rem 10%;
    background-color: $Very-Dark-Violet;
    display:flex;
    h3{
        color: white;
        font-size: 28px;
        font-weight: 700;
    }
    .link-group{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        >div{
            margin-right: 10%;
        }
        h4{
            color: white;
            font-size:13px;
            margin: 0.8rem 0 0.5rem;
        }
        a{
            display: block;
            font-weight: 500;
            font-size: 13px;
            margin-top: 0.5rem;
            &:hover{
                color:$Cyan;
            }
        }
    }
    .social-group{
        margin-top: 0.5rem;
        i{
            color:white;
            font-size: 1.5rem;
            &:not(:last-child){
                margin-right: 1rem;
            }
            &:hover{
                color:$Cyan;
                transform: translateY(-2px);
            }
        }
    }
}

@media (max-width: 780px){
    .part{
        padding:1.5rem !important;
    }
    .header{
        position:fixed;
        z-index: 3;
        width: 100%;
        top:0;
        align-items: center;
        justify-content: space-between;
        .menu-icon{
            display: block;
            i{
                font-size: 24px;
                color: $Gray;
            }
            .close{
                display: none;
            }
        }
        .mobile-menu{
            display: none;
            background-color: $Dark-Violet;
            position: absolute;
            top: 81px;
            width: 90%;
            left:5%;
            text-align: center;
            padding: 0 1.5rem;
            border-radius: 10px;
            animation: appear 0.6s;
            -webkit-animation: appear 0.6s;
            .mobile-nav{
                padding: 1rem 0 2rem 0;
                border-bottom: 0.5px solid $Grayish-Violet;
                li{
                    list-style: none;
                    a{
                        color:white;
                        font-size: 16px;
                        margin-top: 1.5rem;
                        
                    }
                }
            }
            @keyframes appear {
                from{
                    transform: scale(0);
                }to{
                    transform: scale(1);
                }
            }
            .mobile-person-account{
                padding: 2rem 0 2.5rem 0;
                display: flex;
                flex-direction: column;
                a{
                    color:white;
                    font-size: 16px;
                }
                .sign-up{
                    background-color: $Cyan;
                    padding: 0.5rem 0;
                    margin-top:1.5rem;
                    border-radius: 25px;
                }
            }
        }
        .nav, .person-account{
            display: none;
        }
    }
    .active-menu{
        .mobile-menu{
            display: block;
        }
        .menu-icon{
            .close{
                display: block;
            }
            .open{
                display: none;
            }
        }
    }
    .section-1{
        margin-top: 81px;
        background-size: 140%;
        background-position: 1rem 0;
        text-align: center;
        .introduction-1{
            margin-top: 14rem;
            padding: 9rem 0;
            max-width: initial;
            h1{
                font-size: 2.5rem;
            }
            p{
                margin-top: 1rem;
               width: initial;
            }
        }
    }.section-2{
        .shorten-link{
            flex-direction: column;
            left: 1.5rem;
            right: 1.5rem;
            top:0;
            padding: 1.5rem;
            .link-input{
                width: 100%;
                height: 3rem;
                padding-left: 1rem;
            }
            .link-shorten-btn{
                height: 3rem;
                width: 100%;
                margin: 1rem 0 0;
            }
            .message{
                position: static;
                align-self: flex-start;
                margin-top: 4px
            }
        }
        .finished-links{
            margin-top: 5rem;
            .finished-item{
                margin-top: 1.5rem;
                flex-direction: column;
                align-items: flex-start; 
                padding:1rem;
                p{
                    max-width: 100%;
                    overflow: hidden;
                    font-size: 16px;
                    padding-bottom:0.5rem;
                    border-bottom: 1px solid $Gray;
                }
                span{
                    margin: 0.5rem 0;
                }
            
                button{
                    width: 100%;
                }
                
            }
        }
        .introduction-2{
            margin-top: 3rem;
            h2{
                font-size: 26px;
            }
        }
        .advertising{
            flex-direction: column;
            margin-top: 0;
            margin-bottom: 2rem;
            .advertising-item{
                margin: 6rem 0 0;
                max-width: 100%;
                text-align: center;
                &::before{
                    left:50%;
                    transform:translate(-50%, -50%)
                }
            }
            .brand{
                &::after{
                    height:400px;
                    width: 8px;
                    right: initial;
                    top:100%;
                    left: 50%;
                    transform:translateX(-50%)

                }
            }
        }
    }
    .section-3{
        padding: 5rem 1.5rem !important;
        h2{
            font-size: 26px;
        }
        a{
            margin-top: 1rem;
        }
    }
    footer{
        flex-direction: column;
        text-align: center;
        .link-group{
            flex-direction: column;
            margin: 1.5rem 0 0.5rem;
            >div{
                margin: 0 0 1.5rem;
                h4{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}